* {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #a71d23;
  height: 44px;
}

.logo {
  border-radius: 25px;
}

.search-bar {
  margin-top: 10px;
  height: 25px;
}

span {
  display: flex;
  margin-left: 6px;
}

span h2 {
  margin-top: 10px;
}

.user-icon {
  height: 40px;
  margin-right: 5px;
  margin-top: 5px;
}
